/* ! PC */
@media (min-width: 64em) {
    
}
/* ! Tablet & mobile */
@media (max-width: 63.9375em) {
    .tour-session .btn-buy-place{
        padding: 16px 16px;
    }
    .contact-form .form-control{
        padding: 15px;
    }
    .contact-form .form-submit-btn{
        padding: 15px 20px;
    }
    #footer .social-list{
        font-size: 40px;
    }
    #footer .copyright{
        font-size: 20px;
    }
    #nav .subnav li{
        padding: 4px 0;
    }
}

/* ! Tablet   */
@media (min-width: 46.25em) and (max-width: 63.9375em){
    .contact-info{
        line-height: 2;
    }
}

/* ! Mobile */
@media (max-width: 46.1875em) {
    .s-full-width,
    .s-col-full{
        width: 100% !important;
    }
    .s-mb-8{
        margin-bottom: 8px !important;
    }
    .s-mb-16{
        margin-bottom: 16px !important;
    }
    .s-mt-16{
        margin-top: 16px !important;
    }
    #header {
        overflow: hidden;
    }
    #header .search-bth{
        display:none;
    }
    #header .mobile-menu-btn{
        position:absolute;
        top: 0;
        right: 0;
        display: block;
    }
    #nav{
        display:block;
    }
    #nav>li{
        display: block;
    }
    #nav>li:first-child{
        display: inline-block;
    }
    #nav>li>a{
        padding: 1px 24px;
    }
    #nav .subnav{
        background-color:#333;
        position: initial;
    }
    #nav .subnav a{
        color: #fff;
        padding: 5px 40px;
    }
    #content .member-item{
        margin-top: 30px;
        width: 100%;
    }
    #content .member-item>img{
        width: 60%;
    }
    #content .place-item{
        width: 100%;
    }
    .contact-info{
        line-height: 2.5;
    }
}