/* ! reser css 
    ! Emmet(p0;m0) 
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

/* TODO:start 
TODO: từ ngoài vào trong
TODO: từ trên xuống dưới
TODO:tổng quan đến chi tiết
*/

/* 
? vị trí
? kích thước(width,height)
? màu sắc
? kiểu dáng(kiểu chữ,...)
*/

/* TODO: common */
.clear {
  clear: both;
}

.text-white {
  color: #fff !important;
}

.text-center {
  text-align: center !important;
}

.mt-8{
  margin-top:8px !important;
}

.mt-16{
  margin-top: 16px !important;
}

.row{
  margin-left: -8px;
  margin-right: -8px;
}

.row::after{
  content: " ";
  display: block;
  clear: both;
}

.col{
  float: left;
  padding-left: 8px;
  padding-right: 8px;
}

.col-full{
  width: 100%;
}

.col-2{
  width: calc(100% / 2);
}

.col-3{
  width: calc(100%/3);
}

/* TODO: main */
#main {}

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 46px;
  background-color: #000;
  z-index: 2;
}

#nav {
  display: inline-block;
}

#nav,
.subnav {
  list-style: none;
}

#nav>li {
  display: inline-block;
  position: relative;
}

#nav>li>a {
  color: #fff;
  text-transform: uppercase;
}

#nav li a {
  text-decoration: none;
  padding: 0px 20px;
  line-height: 47px;
}

#nav li:hover .subnav {
  display: block;
}

#nav>li:hover>a,
#nav .subnav a:hover {
  color: #000;
  background-color: #ccc;
  display: block;
}

#nav .subnav {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 160px;
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;
}

#nav .subnav a {
  color: #000;
  padding: 0 12px;
  line-height: 40px;
}

#nav .nav-arrow-down {
  font-size: 10px;
}

#header .mobile-menu-btn,
#header .search-bth {
  float: right;
  padding: 0 21px;
}

#header .mobile-menu-btn{
  display: none;
}

#header .mobile-menu-btn:hover{
  background-color: #ccc;
}

#header .mobile-menu-btn:hover .menu-icon{
  color: #000;
}

#header .search-bth:hover {
  background-color: #f44336;
}

#header .menu-icon,
#header .search-icon {
  color: #fff;
  font-size: 16px;
  line-height: 46px;
  font-weight: 1000;
}

#slider {
  position: relative;
  margin-top: 46px;
  padding-top: 50%;
  background: url("/assets/img/slider/slider1.jpg") top center / cover no-repeat;
}

#slider .text-content {
  position: absolute;
  color: #fff;
  bottom: 47px;
  width: 100%;
  text-align: center;
}

#slider .text-heading {
  font-weight: 500;
  font-size: 24px;
}

#slider .text-description {
  font-size: 15px;
  margin-top: 25px;
  text-shadow: 0 0 2px #000;
}

#content {}

#content .content-session {
  width: 800px;
  max-width: 100%;
  padding: 64px 16px 112px;
  margin-left: auto;
  margin-right: auto;
}

#content .session-heading {
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 4px;
}

#content .session-sub-heading {
  text-align: center;
  font-size: 15px;
  margin-top: 25px;
  font-style: italic;
  color: #999;
}

#content .about-text {
  font-size: 15px;
  margin-top: 20px;
  text-align: justify;
  line-height: 1.4;
}

#content .member-list {
  margin-top: 48px;
}

#content .member-name {
  font-size: 15px;
}

#content .member-img {
  margin-top: 15px;
  width: 150px;
  border-radius: 5px;
}

#content .tour-session {
  background-color: #000;
}

#content .ticket-list {
  list-style: none;
  background-color: #fff;
  margin-top: 40px;
}

#content .ticket-list li {
  color: #757575;
  font-size: 15px;
  padding: 11px 16px;
  border-bottom: 1px solid #ccc;
}

#content .sold-out {
  background-color: #ff0000;
  color: #fff;
  padding: 3px 4px;
  margin-left: 16px;
}

#content .quantity {
  float: right;
  width: 24px;
  height: 24px;
  background-color: #000;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 24px;
}

.tour-session .place-list {
  margin-top: 16px;
}

.tour-session .place-img {
  width: 100%;
  display: block;
}

.tour-session .place-img:hover {
  opacity: 0.5;
}

.tour-session .place-body {
  background-color: #fff;
  padding: 16px;
  font-size: 15px;
}

.tour-session .place-heading {
  font-size: 15px;
  font-weight: 600;
}

.tour-session .place-time {
  margin-top: 15px;
  color: #757575;
}

.tour-session .place-desc {
  line-height: 1.4;
  margin: 15px 0 15px 0;
}

.tour-session .btn-buy-place {
  color: #fff;
  background-color: #000;
  padding: 11px 16px;
  text-decoration: none;
  display: inline-block;
  border: none;
  cursor: pointer;
}

.tour-session .btn-buy-place:hover {
  background-color: #999;
  color: #000;
}

/* TODO: contact */

.contact-content{
  margin-top:48px;
}

.contact-info{
  font-size:18px;
  line-height:1.6;
}

.contact-info > p > a{
  color: rgb(100, 100, 248);
}

.contact-info > p > a:hover{
  opacity: 0.8;
}

.contact-info > p > i{
  width: 30px;
  display: inline-block;
}

.contact-form{
  font-size: 15px;
}

.contact-form .form-control{
  padding: 10.5px;
  border: 1px solid #ccc;
  width: 100%;
}

.contact-form .form-submit-btn{
  background-color: #000;
  color: #fff;
  border: 1px solid #000;
  padding: 10px 16px;
  float: right;
  cursor: pointer;
}

.contact-form .form-submit-btn:hover{
  background: #999;
  color: #000;
  border: 1px solid #999;
}

.map-session img{
  width: 100%;
}

#footer {
  padding: 64px 16px;
  text-align: center;
}

#footer .social-list{
  font-size: 24px;
}

#footer .social-list>a{
  text-decoration: none;
  color: #999;
}
#footer .copyright>a:hover,
#footer .social-list>a:hover{
  opacity: 0.5;
}

#footer .copyright{
  color: #999 ;
  margin-top: 15px;
}

#footer .copyright>a{
  color: #999;
}

/* TODO:modal */
.modal{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  align-items: center;
  justify-content: center;
  display:none;
}

.modal.open{
  display: flex;
}

.modal .modal-container{
  width: 900px;
  max-width: calc(100% - 32px);
  min-height: 200px;
  background: #fff;
  position: relative;
  animation: modalFadeIn ease .5s;
}
.modal .modal-header{
  height: 129px;
  background: #009688;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size:30px;
  color: #fff;
}
.modal .modal-close{
  position: absolute;
  right: 0;
  top: 0;
  color: #fff;
  padding: 12px;
  cursor: pointer;
  opacity: 0.8
}
.modal .modal-close:hover{
  opacity: 1;
  background:#999;
}
.modal .modal-header .modal-heading-icon{
  margin-right: 16px;
}
.modal .modal-body{
  padding: 16px;
}
.modal .modal-laybel{
  display: block;
  font-size: 15px;
  margin: 15px 0;
}
.modal .modal-input{
  border: 1px solid #ccc;
  width: 100%;
  padding: 10px;
}
.modal #buy-ticket{
  width: 100%;
  font-size: 15px;
  padding: 14px;
  margin: 16px 0;
  border: none;
  background: #009688;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}
.modal #buy-ticket:hover{
  opacity:0.9;
  background: #ccc;
  color:#000;
}
.modal .modal-footer{
  padding: 16px;
  float: right;
  font-size: 15px;
}
.modal .modal-footer a{
  color: rgb(100, 100, 248);
}

@keyframes modalFadeIn{
    from{
      opacity: 0;
      transform: translateY(-100px);
    }
    to{
      opacity:1;
      transform: translateY(0px);
    }
}

/* ! responsive
  
  TODO: PC >= 1024px
  TODO: Tablet >= 740px & < 1024px
  TODO: Mobile < 740px
*/

