/* ! reser css 
    ! Emmet(p0;m0) 
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: cursive;
}
/* TODO:start 
TODO: từ ngoài vào trong
TODO: từ trên xuống dưới
TODO:tổng quan đến chi tiết
*/

/* 
? vị trí
? kích thước(width,height)
? màu sắc
? kiểu dáng(kiểu chữ,...)
*/
#main {
}
#header {
  height: 47px;
  background-color: #000;
}
#nav {
}
#nav li {
  display: inline-block;
  padding: 12px 20px;
}
#nav li a {
  text-decoration: none;
  color: #fff;
}
#nav li:hover a {
  color: #000;
  background-color: #ccc;
}
#nav .subnav {
  display: none;
}
#slider {
}
#content {
}
#footer {
}
