/*  ! reser css 
    TODO: Emmet(p0;m0) 
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* TODO:start */
/* 
? vị trí
? kích thước(width,height)
? màu sắc
? kiểu dáng(kiểu chữ,...)
*/
#main {
}
#header {
}
#slider {
}
#content {
}
#footer {
}
